

<div class="containerPrincipal" >
  <ng-container style="margin-right: 0; position: sticky;" *ngIf="canActBool || userData.firstName.length > 0">
    <nav style="background-color: transparent; z-index: 1;"
    class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow fixed-top">
    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ">
        <a class="nav-link  ml-4" id="userDropdown" role="button" 
          aria-haspopup="true" aria-expanded="false">
          Hola {{userData.firstName}} {{userData.lastName}} <i class="fas fa-user-check ml-2"></i>
        </a>
      </li>
    </ul>
  </nav>
  
  </ng-container>
  <router-outlet></router-outlet>
</div>